services:
  web:
    build:
      context: .
      target: app
    depends_on:
      - docker
    command: flask run
    environment:
      FLASK_RUN_HOST: 0.0.0.0
      DOCKER_HOST: tcp://docker:2375
    develop:
      watch:
        - action: rebuild
          path: app.py
    volumes:
      - data:/data
    env_file:
      - .env

  docker:
    image: docker:dind
    privileged: true
    entrypoint: dockerd --host tcp://0.0.0.0:2375
    volumes:
      - data:/data

  cookiecutter_build:
    build:
      context: .
      target: cookiecutter_builder
    volumes:
      - ./Dockerfile:/data/Dockerfile
    command: wait-for-it docker:2375 -t 30 -s -- docker --host=tcp://docker:2375 build /data -t python3.12_cookiecutter --target cookiecutter
    depends_on:
      - docker

  traefik:
    image: traefik
    ports:
      - "8000:80"
    volumes:
      - "./services/traefik:/etc/traefik"

volumes:
  data: {}
