{% from 'bootstrap5/form.html' import render_form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    {{ bootstrap.load_css() }}

    <style>
        body {
            background: #e8f1f9;
        }
    </style>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row w-50">
            <h1>Django cookiecutter online</h1>
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}
{{ bootstrap.load_js() }}
</body>
</html>